.thumbnail {
  width: 100%;
  height: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-position: center;
  border: 1px solid #ccc;
}

.additionalImageContainer {
  position: absolute;
  width: 1000px; /* 원하는 초기 크기 설정 */
  height: 1000px; /* 원하는 초기 크기 설정 */
  background-color: aqua;
  cursor: move;
}

.additionalImage {
  position: relative; /* Next.js Image 내부에 맞게 설정 */
  width: 100%; /* 부모 컨테이너에 맞게 설정 */
  height: 100%; /* 부모 컨테이너에 맞게 설정 */
}

.deleteButton {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: darkred;
}
