.thumbnail {
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  background-position: center;
  border: 1px solid #ccc;
  position: relative;
}

.hideOverflow {
  position: relative;
  overflow: hidden;
}
