.container {
  display: flex;
  position: absolute;
}

.container:hover .buttonContainer {
  display: flex;
}

.dataContainer {
  display: flex;
  width: 100%;
  height: 100%;
}

.buttonContainer {
  display: none;
}
