.resize_button {
  width: 20px;
  height: 20px;
  background: aquamarine;
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  border-radius: 50%;
}

.resize_button:hover {
  background-color: #5f5f5f;
}
