.container {
  display: flex;
  position: absolute;
}

.container:hover .buttonContainer {
  display: flex;
}

.dataContainer {
  display: flex;
  width: 500px;
  height: 100%;
}

.buttonContainer {
  display: none;
  width: 20px;
}
